services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.3
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "echo", "ruok", "|", "nc", "localhost", "2181"]
      interval: 5s
      timeout: 3s
      retries: 20

  kafka:
    image: confluentinc/cp-kafka:7.3.3
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 5s
      timeout: 3s
      retries: 20

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181

  init-kafka-topic:
    image: confluentinc/cp-kafka:7.3.3
    container_name: init-kafka-topic
    depends_on:
      kafka:
        condition: service_healthy
    entrypoint: >
      sh -c "
        echo 'Esperando a Kafka...';
        until kafka-topics --bootstrap-server kafka:9092 --list >/dev/null 2>&1; do
          sleep 2;
        done;
        echo 'Kafka listo, creando topic pokemon...';
        kafka-topics --create --topic pokemon --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1;
        echo 'Topic pokemon creado.';
        exit 0
      "

  pokemon-publisher: 
    build: 
      context: ./publisher
    container_name: pokemon-publisher
    environment:
      KAFKA_BROKER: kafka:9092
    depends_on:
      init-kafka-topic:
        condition: service_completed_successfully

  risingwave:
    image: risingwavelabs/risingwave:latest
    container_name: risingwave
    command: single_node
    ports:
      - "5432:4566" # SQL endpoint
      - "5691:5691" # Dashboard
    depends_on:
      - kafka
